<article class="article-product">
<LinkTo
 @route='product' @model={{@productInfo.id}}>
  <img class="img-product" id={{@productInfo.id}} src={{@productInfo.img}}/>
</LinkTo>
  <article class="product-info">
    <p class="info-detail">{{@productInfo.name}}</p>
    <p class="info-detail">£{{@productInfo.price}}</p>
    <button class="btn btn-primary btn-sm" type="button" {{on 'click' this.addProduct}}>Add</button>
  </article>
</article>
