<article class="article-product">
<LinkTo @route='product' @model={{@productInfo.id}}>
  <img class="img-product" src={{@productInfo.img}}/>
</LinkTo>
  <article class="product-info">
    <p class="info-detail">{{@productInfo.name}}</p>
    <p class="info-detail">{{@productInfo.price}}</p>
    <button {{on 'click' this.addProduct}} class="btn btn-primary btn-sm">Add</button>
  </article>
</article>
