
<div class="cart">
  <section class="products-cart">
    {{#each this.cart.productsList as |selectedProduct|}}
    <article class="product-cart">
      <img class="img-detail" src={{selectedProduct.image}} alt={{selectedProduct.image}}/>
      <p>{{selectedProduct.name}}</p>
      <input class="input-product" type="number" min="1" value={{selectedProduct.count}} {{on 'input' (fn this.addProductCount selectedProduct)}}>
      <span class="x" {{on 'click' (fn this.removeProduct selectedProduct)}}>X</span>
    </article>
    {{/each}}
  </section>

  <section>
    <article class="purchase-cart">
      <p>Bought items: {{this.boughtItems}}</p>
      <p>Free product: {{this.freeProduct}}</p>
      <p>Total items: {{this.itemsAmount}}</p>
      <p>Total: {{this.total}}</p>
    </article>
  </section>
  </div>

